<main class="mainproperty">
	<div class="cart">
		<h1>Your Cart</h1>
		<p>Here you can see the products you have added to your cart.</p>

		<table class="cart-table cart-usertable"></table>
		<hr />
		<table>
			<tr>
				<td style="width: 800px"></td>
				<td style="width: 150px"></td>
				<td style="width: 150px; text-align: center; font-size: 20px"><b>Total</b></td>
				<td style="width: 150px; text-align: center; font-size: 20px" class="cart-total"></td>
			</tr>
			<tr>
				<td style="width: 800px"></td>
				<td style="width: 150px"></td>
				<td style="width: 150px"></td>
				<td style="width: 150px"><button class="Button_principal">Checkout</button></td>
			</tr>
		</table>
	</div>
</main>
