<main class="mainproperty">
	<!-- ======= Carrousel Section ======= -->
	<section class="home">
		<div class="container">
			<div class="swiper-container">
				<div class="swiper-wrapper" id="carrouselAct"></div>
			</div>
		</div>
	</section>
	<!-- End Hero -->

	<!-- -------------------------------------------------------------------------------------------------------------------------- -->

	<!-- ======= CATEGORY CARD Section ======= -->
	<div class="row">
		<!-- <ul>
			<h2 class="cat">Explora por categorias...</h2>
		</ul> -->
		<div class="row" id="containerCategories"></div>
	</div>
	<br /><br />

	<!-- ----------------------------------------------------------------------------------------------------------------------- -->
	<!-- ======= CIUDADES CARD Section ======= -->
	<div class="row">
		<ul>
			<h2 class="cat">Explore by City...</h2>
		</ul>
		<div class="row" id="containerCities"></div>
	</div>
	<br /><br />

	<!-- ----------------------------------------------------------------------------------------------------------------------- -->
	<!-- ======= TYPE CARD Section ======= -->
	<div class="row">
		<ul>
			<h2 class="cat">Explore by Type...</h2>
		</ul>
		<div class="row" id="containerType"></div>
	</div>
	<br /><br />

	<!-- ----------------------------------------------------------------------------------------------------------------------- -->
	<!-- ======= SUGGEST CARD Section ======= -->
	<div class="row">
		<ul>
			<h2 class="cat">Most Popular...</h2>
		</ul>
		<div class="row" id="containerSuggest"></div>
	</div>
	<br /><br />

	<!-- ----------------------------------------------------------------------------------------------------------------------- -->
	<!-- ======= LAST VISIT CARD Section ======= -->
	<div class="row">
		<ul>
			<h2 class="cat">Your last visit...</h2>
		</ul>
		<div class="row" id="containerLastvisit"></div>
	</div>
	<br /><br />

	<!-- ----------------------------------------------------------------------------------------------------------------------- -->
	<!-- ======= EXTRAS CARD Carousel ======= -->
	<ul>
		<h2 class="cat">Explore by Extras...</h2>
	</ul>
	<div class="row">
		<div class="owl-container">
			<div class="owl-carousel owl-theme" id="containerExtra"></div>
		</div>
	</div>
	<br /><br />

	<!-- ----------------------------------------------------------------------------------------------------------------------- -->
</main>
