<main class="mainproperty">
	<div class="login-wrap">
		<div class="login-html">
			<div class="login__radio">
				<input id="tab-1" type="radio" name="tab" class="login" checked />
				<input id="tab-2" type="radio" name="tab" class="register" />
				<input id="tab-3" type="radio" name="tab" class="password-recovery" />
				<input id="tab-4" type="radio" name="tab" class="otp" />
			</div>

			<div class="login-form" id="login-form">
				<!-- ======= LOGIN SECTION ======= -->
				<form id="login__form" method="POST">
					<div class="login-htm">
						<div class="group">
							<h2 class="title">Login</h2>
						</div>
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="username_log" type="text" class="input" name="username_log" />
							<span id="error_username_log" class="error"></span>
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="passwd_log" type="password" class="input" name="passwd_log" />
							<span id="error_passwd_log" class="error"></span>
						</div>
						<div class="text password-recovery-text">
							<h6>Forgot your password? <a href="#tab-3">Click here to recover</a></h6>
						</div>
						<br />
						<div class="group">
							<input type="submit" id="login" class="button" value="Sign In" />
						</div>
						<div class="hr"></div>
						<!-- ======= SOCIAL LOGIN SECTION ======= -->
						<div>
							<div class="text-center">
								<h6>... or connect with</h6>
							</div>
							<br />
							<div class="text-center">
								<a href="https://wwww.linkedin.com" target="_blank" class="px-2">
									<i class="fa-brands fa-linkedin fa-2xl"></i>
								</a>
								<a href="https://www.google.com" target="_blank" class="px-2">
									<i class="fa-brands fa-google fa-2xl"></i>
								</a>
								<a href="https://www.github.com" target="_blank" class="px-2">
									<i class="fa-brands fa-github fa-2xl"></i>
								</a>
							</div>
						</div>
						<div class="hr"></div>
						<div class="text register-text">
							<h6>Don't have an account? <a href="#tab-2">Register now</a></h6>
						</div>
					</div>
				</form>

				<!-- ======= REGISTER SECTION ======= -->
				<form id="register__form" method="post">
					<div class="register-htm">
						<div class="group">
							<h2 class="title">Register</h2>
						</div>
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="username_reg" type="text" class="input" name="username_reg" />
							<span id="error_username_reg" class="error"></span>
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="passwd1_reg" type="password" class="input" name="passwd1_reg" />
							<span id="error_passwd1_reg" class="error"></span>
						</div>
						<div class="group">
							<label for="pass" class="label">Repeat Password</label>
							<input id="passwd2_reg" type="password" class="input" name="passwd2_reg" />
							<span id="error_passwd2_reg" class="error"></span>
						</div>
						<div class="group">
							<label for="pass" class="label">Email Address</label>
							<input id="email_reg" type="email" class="input" name="email_reg" />
							<span id="error_email_reg" class="error"></span>
						</div>
						<div class="group">
							<input type="submit" id="register" class="button" value="Sign Up" />
						</div>
						<div class="hr"></div>
						<div class="text login-text">
							<h6>Already have an account? <a href="#tab-1">Login now</a></h6>
						</div>
					</div>
				</form>
				<!-- ======= PASSWORD RECOVERY SECTION ======= -->
				<form id="password_recovery_form" method="post">
					<div class="password-recovery-htm">
						<div class="group">
							<h2 class="title">Password Recovery</h2>
						</div>
						<div class="group">
							<label for="email" class="label">Email Address</label>
							<input id="email_recovery" type="email" class="input" name="email_recovery" />
							<span id="error_email_recovery" class="error"></span>
						</div>
						<div class="group">
							<input type="submit" id="recover" class="button" value="Recover Password" />
						</div>
						<div class="hr"></div>
						<div class="text login-text">
							<h6>Remember your password? <a href="#tab-1">Login now</a></h6>
						</div>
					</div>
				</form>
				<!-- ======= OTP SECTION ======= -->
				<form id="otp__form" method="post">
					<div class="otp-htm">
						<div class="group">
							<h2 class="title">Enter Verify Code</h2>
						</div>
						<div class="group">
							<label for="username" class="label">Username</label>
							<input id="username_otp" type="text" class="input" name="username" />
							<span id="error_username_otp" class="error"></span>
						</div>
						<br />
						<div class="group">
							<label for="otp" class="text" style="color: azure"
								>We have sent a code to your mobile phone, please enter it to verify your identity</label
							><br />
							<input id="otp" type="text" class="input" name="otp" />
							<span id="error_otp" class="error"></span>
						</div>
						<div class="group">
							<input type="submit" id="submit_otp" class="button" value="Submit OTP" />
						</div>
						<div class="hr"></div>
						<div class="text login-text">
							<h6>Didn't receive OTP? <a href="#tab-3">Resend OTP</a></h6>
						</div>
					</div>
				</form>
		</div>
	</div>
</main>
