<main class="mainproperty">
	<div class="container">
		<div class="column">
			<div class="profile-menu">
				<img src="ruta_de_la_imagen_del_usuario.jpg" alt="Foto de perfil" />
				<ul>
					<li>Ajustes</li>
					<li>Pedidos</li>
					<li>Log out</li>
				</ul>
			</div>
		</div>
		<div class="column">
			<div class="profile-details">
				<h2>Nombre del usuario</h2>
				<p>Email: usuario@example.com</p>
				<p>Teléfono: 123456789</p>
				<!-- Otros detalles del perfil -->
			</div>
		</div>
	</div>
</main>
