<main class="mainproperty">
	<br />
	<div class="profile-container">
		<!-- Sidebar -->
		<aside class="profile-sidebar">
			<img class="profile-avatar" src="images/avatar.jpg" alt="Avatar" />
			<br />
			<br />
			<ul>
				<li><a href="#" class="profile-info">User information</a></li>
				<li><a href="#" class="profile-orders">My Orders</a></li>
				<li><a href="#" class="profile-preferences">Preferences</a></li>
				<li><a href="#" class="profile-likes">Favorites</a></li>
				<li><a href="#" class="profile-logout">Log out</a></li>
			</ul>
		</aside>
		<!-- Main Content -->
		<main class="profile-main">
			<!-- USER INFORMATION -->
			<section class="profile-info-sect">
				<h2>User Information</h2>
				<br />
				<p><b>Username:</b> <span class="profile-username">John Doe</span></p>
				<p><b>Name:</b> <span class="profile-name">John Doe</span></p>
				<p><b>Surname:</b> <span class="profile-surname">John Doe</span></p>
				<p><b>Email:</b> <span class="profile-email">30</span></p>
				<p><b>Telephone:</b> <span class="profile-phone">New York</span></p>
				<p><b>City:</b> <span class="profile-city">John Doe</span></p>
			</section>
			<!-- PREFERENCES -->
			<section class="profile-pref-sect">
				<h2>Preferences</h2>
				<br />
				<form>
					<label for="avatar"><b>Avatar: </b></label>&nbsp;
					<input type="file" id="user_avatar" name="avatar" accept="image/*" />
					<br />
					<br />
					<label for="name"><b>Name: </b></label>&nbsp;
					<input type="name" id="user_name" name="name" />
					<br />
					<br />
					<label for="surname"><b>Surname: </b></label>&nbsp;
					<input type="surname" id="user_surname" name="surname" />
					<br />
					<br />
					<label for="phone"><b>Phone: </b></label>&nbsp;
					<input type="tel" id="user_phone" name="phone" />
					<br />
					<br />
					<label for="city"><b>City: </b></label>&nbsp;
					<input type="city" id="user_city" name="city" />
					<br />
					<br />
					<input type="submit" value="Save" />
				</form>
			</section>
			<!-- ORDERS -->
			<section class="profile-orders-sect">
				<h2>My Orders</h2>
				<p>
					Here you can see your order and download the PDF or see the QR code. Remember that these orders are
					<b>only products</b>, for checking your property you must contact us.
				</p>
				<br />
				<table class="cart-table-profile">
					<thead>
						<tr>
							<th>Order ID</th>
							<th>Download PDF</th>
							<th>See QR Code</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="order_id">1</td>
							<td><a href="order1.pdf" class="order_pdf">Download</a></td>
							<td><a href="qr1.png" class="order_qr">View</a></td>
						</tr>
					</tbody>
				</table>
			</section>
			<!-- FAVORITES -->
			<section class="profile-likes-sect">
				<h2>Favorites</h2>
				<p>
					Here you can see your favorite properties. Remember that these properties are <b>not yours</b>, for buying
					them you must contact us.
				</p>
				<br />
				<div class="likes-container">
					<div class="prop-table-profile"></div>
				</div>
			</section>
		</main>
	</div>
</main>
